/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 
Semi-bold: 
Bold: 

- Line heights:
Default: 1
Small: 
Medium: 
Paragraph default: 

- Letter spacing


-- 02 COLORS

- Primary: #06141F
- Tints: #D1D1D1 #F4F4F4
- Shades: #0D3450
- Accents: 
- Greys
#06141F;


--- 05 SHADOWS

--- 06 BORDER-RADIUS

Default: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #06141f;
  background-color: #f4f4f4;
}

/****************************/
/* GENERAL REUSABLE COMPONENTS */
/****************************/
:root{
  --primary-color:#EBE0FE;
  --secondary-color:#F5F5F5;
  --text-color:#FFFFFF;
  --text2-color:#121212;
  /* for anchor tag */
  --active-color:#28145C;
  --inactive-color:#808080;
  /* student page */
  --rectangle-color:#28145C;
}
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  font-weight: 700;
  font-size: 4rem;
}

.heading-secondary {
  font-weight: 700;
  font-size: 2.4rem;
}
/*calendar */

/* Month header */
.month{
  display: flex;
  justify-content: space-between;
}
/* Month list */
.month ul {
margin: 0;
padding: 0;
display: flex;
}

.month ul li {
color: white;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev-month {
color: black;
}

/* Next button */
.month .next-month {
color: black;
}

/* Weekdays (Mon-Sun) */
.weekdays {
margin: 0;
padding: 10px 0;
background-color:#ddd;
}

.weekdays li {
display: inline-block;
width: 13.6%;
color: #666;
text-align: center;
}

/* Days (1-31) */
.days {
padding: 10px 0;
background: #eee;
margin: 0;
}

.days li {
list-style-type: none;
display: inline-block;
width: 13.6%;
text-align: center;
margin-bottom: 5px;
font-size:12px;
color: #777;
}

/* Highlight the "current" day */
.days li .active {
padding: 5px;
background: #1abc9c;
color: white !important
}
/* i dont understand what this is doing here */
.calendar {
  display: flex;
  margin-left: auto;
  width: 11.2rem;
  height: 3.5rem;
  background: #d1d1d1;
  border-radius: 10px;
  align-items: center;
  padding: 0 1.6rem;
  font-weight: 700;
  font-size: 1.2rem;
  gap: 9px;
  /* -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ; */
}
/*  LECTURER */
#lecturer-page, #student-dashboard{
  background-color: var(--primary-color);
}
.left{
  background-color: var(--secondary-color);
}
#lecturer-page nav div a.active{
  color: var(--active-color);
}
#lecturer-page nav div a{
  color: var(--inactive-color);
}
#lecturer-page #intro{
  color: var(--text2-color);
}
#lecturer-page .first-rectangle{
  background-color: var(--rectangle-color);
  color: var(--text-color);
}
.profile-calender{
  background-color: var(--secondary-color);
}
/* FOR BOTH LECTURER AND STUDENT */
.notification-link{
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
/* student dashboard */
#student-dashboard .menu-logo a{
  color: var(--active-color);
}
#student-dashboard  .active{
  background-color: #FEE5A3;
  border-left: 3px solid #010055;
  padding: 3px;
}
#student-dashboard .profile-name{
  color: var(--text2-color);
}