/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 
Semi-bold: 
Bold: 

- Line heights:
Default: 1
Small: 
Medium: 
Paragraph default: 

- Letter spacing


-- 02 COLORS

- Primary: #06141F
- Tints: #D1D1D1 #F4F4F4
- Shades: #0D3450
- Accents: 
- Greys
#06141F;


--- 05 SHADOWS

--- 06 BORDER-RADIUS

Default: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #06141f;
  background-color: #d1d1d1;
}

/****************************/
/* GENERAL REUSABLE COMPONENTS */
/****************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-primary {
  font-weight: 700;
  font-size: 4rem;
}

.heading-secondary {
  font-weight: 700;
  font-size: 2.4rem;
}

.calendar {
  display: flex;
  margin-left: auto;
  width: 11.2rem;
  height: 3.5rem;
  background: #f4f4f4;
  border-radius: 10px;
  align-items: center;
  padding: 0 1.6rem;
  font-weight: 700;
  font-size: 1.2rem;
  gap: 9px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.scdContainer {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 4% auto;
}
.leftContent {
  width: 55%;
  border-right: solid #06141f 1.5px;
  padding: 1%;
}
.topCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.tRightCont {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.tRightCont--2 {
  display: flex;
  margin-left: auto;
  width: 11.2rem;
  height: 3.5rem;
  background: #f4f4f4;
  border-radius: 10px;
  align-items: center;
  padding: 0 1.6rem;
  font-weight: 700;
  font-size: 1.2rem;
  gap: 15px;
}
.newest {
  display: flex;
  justify-content: space-between;
}
.lesson p, .lesson h3 {
  text-align: right;
}
.subject--2 p {
  margin-top: 4%;
}
.lesson p {
  margin-top: 15%;
}
.topDivInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 3%;
}
.subject {
  display: flex;
  align-items: center;
}
.subject svg {
  background-color: #EAE3FB;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.subject--2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4%;
}
.subject--2 h3{
  margin-bottom: 2%;
}
.lesson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time {
  width: 15%;
}
.subject {
  width: 50%;
}
.linkIcons {
  width: 25%;
}
.linkIcons svg {
  margin: 0% 5%;
}
.lesson {
  width: 10%;
}
.subjectMid {
  width: 50%;
  display: flex;
  align-items: center;
}
.subjectMid svg {
  background-color: #F5E7C5;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subjectEnd {
  width: 50%;
  display: flex;
  align-items: center;
}
.subjectEnd svg {
  background-color: #CFEBF3;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
