header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  list-style: none;
  margin-left: 2rem;
}
header nav ul li a {
  color: wheat;
  font-size: 2rem;
  text-decoration: none;
}
