/* body {
  height: 100vh;
} */

/****************************/
/* HEADER */
/****************************/

.header {
  display: flex;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 9.9rem;
  padding: 4.9rem 3.2rem;
  margin-bottom: 2.8rem;
}

.logo {
  height: 4rem;
}

/****************************/
/* NAVIGATION */
/****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.8rem;
  margin-left: 100px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #06141f;
  font-weight: 500;
  font-size: 1.6em;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0d3450;
}

.profile-group {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 3.3rem;
}

.lecturer-profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #06141f;
  gap: 1.6rem;
}

.profile-image {
  height: 4rem;
}

/****************************/
/* UPCOMING COURSES SECTION */
/****************************/

.heading-1 {
  display: flex;
  margin-bottom: 4rem;
}

.number {
  width: 3rem;
  height: 2.4rem;
  border: 1px solid #06141f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.8rem;
}

.heading-2 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course {
  width: 26.5rem;
  height: 20.8rem;
  background: #ebe0fe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2.7rem 0 0 3.5rem;
}

.course.course--2 {
  background: #feeac4;
}

.course.course--3 {
  background: #cfebf5;
}

.course.course--4 {
  background: #dbf5d2;
}

.box {
  position: relative;
}

.backdrop {
  content: "";
  width: 26.5rem;
  height: 20.8rem;
  border-radius: 10px;
  border: 1px solid #ebe0fe;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -48%);
  z-index: -1;
}

.backdrop.b--2 {
  border: 1px solid #feeac4;
}

.backdrop.b--3 {
  border: 1px solid #cfebf5;
}

.backdrop.b--4 {
  border: 1px solid #dbf5d2;
}

.course-txt {
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 2.3rem;
}

.course-txt2 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 1.7rem;
}

.course::after {
  content: "";
  width: 20rem;
  margin-top: 2rem;
  border: 0.5px solid #8a8787;
}

/****************************/
/* TIME TABLE SECTION */
/****************************/

.scdContainer {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 4% auto;
}
.leftContent {
  width: 55%;
  border-right: solid #06141f 1.5px;
  padding: 1%;
}
.topCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.tRightCont {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.tRightCont--2 {
  display: flex;
  margin-left: auto;
  width: 11.2rem;
  height: 3.5rem;
  background: #d1d1d1;
  border-radius: 10px;
  align-items: center;
  padding: 0 1.6rem;
  font-weight: 700;
  font-size: 1.2rem;
  gap: 15px;
}
.newest {
  display: flex;
  justify-content: space-between;
}
.lesson p, .lesson h3 {
  text-align: right;
}
.subject--2 p {
  margin-top: 4%;
}
.lesson p {
  margin-top: 15%;
}
.topDivInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 3%;
}
.subject {
  display: flex;
  align-items: center;
}
.subject svg {
  background-color: #EAE3FB;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.subject--2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4%;
}
.subject--2 h3{
  margin-bottom: 2%;
}
.lesson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time {
  width: 15%;
}
.subject {
  width: 50%;
}
.linkIcons {
  width: 25%;
}
.linkIcons svg {
  margin: 0% 5%;
}
.lesson {
  width: 10%;
}
.subjectMid {
  width: 50%;
  display: flex;
  align-items: center;
}
.subjectMid svg {
  background-color: #F5E7C5;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subjectEnd {
  width: 50%;
  display: flex;
  align-items: center;
}
.subjectEnd svg {
  background-color: #CFEBF3;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/****************************/
/* PROGRESS SECTION */
/****************************/

.rightTopCont {
  display: flex;
  justify-content: space-between;
}

.rightTopCont svg {
  background-color: #d1d1d1;
  padding: 2% 1.5%;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.rightContent {
  width: 40%;
}

.rightNextContent, .rightNextContent--2, .rightNextContent--3 {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 6% 3%;
  align-items: center;
  margin-top: 5%;
}

.barCont {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
}
.bar {
  height: 1em;
  background-color: #ebe0fe;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-bottom: 7%;
}

.progressSubject {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.nextIcon svg {
  background-color: #d1d1d1;
  padding: 15% 15%;
  height: rem;
  width: 2rem;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.rightNextContent--2 .bar {
  background-color: #F5E7C5;
}
.rightNextContent--3 .bar {
  background-color: #cfebf5;
}