/* body {
  height: 100vh;
} */

/****************************/
/* HEADER */
/****************************/

.header {
  display: flex;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 9.9rem;
  padding: 0rem 3.2rem;
  position: relative;
}

.logo {
  height: 4rem;
}

/****************************/
/* NAVIGATION */
/****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 48.7rem;
  justify-content: space-between;
  margin-left: 100px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #06141f;
  font-weight: 500;
  font-size: 1.6em;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0d3450;
}

.profile-group {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 3.3rem;
}

.lecturer-profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #06141f;
  gap: 1.6rem;
}

.profile-image {
  height: 4rem;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/****************************/
/* UPCOMING COURSES SECTION */
/****************************/

.section-hero {
  padding-top: 4.8rem;
}

.heading-1 {
  display: flex;
  margin-bottom: 4rem;
}

.number {
  width: 3rem;
  height: 2.4rem;
  border: 1px solid #06141f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.8rem;
}

.heading-2 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course {
  flex: 1;
  height: 20.8rem;
  background: #ebe0fe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2.7rem 3.1rem 0 3.5rem;
}

.course.course--2 {
  background: #feeac4;
}

.course.course--3 {
  background: #cfebf5;
}

.course.course--4 {
  background: #dbf5d2;
}

.box {
  position: relative;
  transition: all 0.3s;
}

.box .course {
  transition: all 0.5s;
}

.backdrop {
  display: none;
}

.box:hover .course {
  transform: scale(1.1);
  box-shadow: 0 0rem 3.2rem 1.2rem rgba(0, 0, 0, 0.145);
  cursor: pointer;
}

.box:hover {
  z-index: 900;
}

.box .backdrop {
  display: block;
  content: "";
  width: 26.5rem;
  height: 20.8rem;
  border-radius: 10px;
  border: 1px solid #ebe0fe;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -48%);
  z-index: -1;
}

.backdrop.b--2 {
  border: 1px solid #feeac4;
}

.backdrop.b--3 {
  border: 1px solid #cfebf5;
}

.backdrop.b--4 {
  border: 1px solid #dbf5d2;
}

.course-txt {
  font-weight: 700;
  font-size: 1.8rem;
  margin-top: 2.3rem;
}

.course-txt2 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 1.7rem;
}

.course::after {
  content: "";
  width: 20rem;
  margin-top: 2rem;
  border: 0.5px solid #8a8787;
}

/****************************/
/* TIME TABLE SECTION */
/****************************/

.scdContainer {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 4% auto;
}
.leftContent {
  width: 55%;
  border-right: solid #06141f 1.5px;
  padding: 1%;
}
.topCont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.tRightCont {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.tRightCont--2 {
  display: flex;
  margin-left: auto;
  width: 11.2rem;
  height: 3.5rem;
  background: #d1d1d1;
  border-radius: 10px;
  align-items: center;
  padding: 0 1.6rem;
  font-weight: 700;
  font-size: 1.2rem;
  gap: 15px;
}
.newest {
  display: flex;
  justify-content: space-between;
}
.lesson p,
.lesson h3 {
  text-align: right;
}
.subject--2 p {
  margin-top: 4%;
}
.lesson p {
  margin-top: 15%;
}
.topDivInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 3%;
}
.subject {
  display: flex;
  align-items: center;
}
.subject svg {
  background-color: #eae3fb;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.subject--2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4%;
}
.subject--2 h3 {
  margin-bottom: 2%;
}
.lesson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time {
  width: 15%;
}
.subject {
  width: 50%;
}
.linkIcons {
  width: 25%;
}
.linkIcons svg {
  margin: 0% 5%;
}
.lesson {
  width: 10%;
}
.subjectMid {
  width: 50%;
  display: flex;
  align-items: center;
}
.subjectMid svg {
  background-color: #f5e7c5;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subjectEnd {
  width: 50%;
  display: flex;
  align-items: center;
}
.subjectEnd svg {
  background-color: #cfebf3;
  padding: 2% 2%;
  height: 3rem;
  width: 3.5rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.rightContent {
  width: ;
}

.rightTopCont {
  display: flex;
  justify-content: space-between;
}

.rightTopCont svg {
  background-color: #d1d1d1;
  padding: 2.5% 2.5%;
  height: 2.5rem;
  width: 3rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
