.login_page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.cta_form {
  display: flex;
  flex-direction: column;

  padding: 5.5rem 0 0 13rem;
  height: 100vh;
  grid-row-start: 1;
  grid-row-end: 2;
}

.bg_image {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../img/oau.png);
  background-size: cover;
  height: 100vh;
  grid-row-start: 1;
  grid-row-end: 2;
}

.id_icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(1.5rem, -50%);
}

.lock_icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(1.5rem, -50%);
}

.relative_1 {
  position: relative;
}

.relative_2 {
  position: relative;
}

.school_logo {
  width: 41.4rem;
}

.form_section {
  margin-top: 2.8rem;
}

.cta_text {
  font-weight: 700;
  font-size: 4rem;
  color: #101010;
}

.description {
  font-weight: 500;
  font-size: 2rem;
  color: rgba(16, 16, 16, 0.7);
  margin-top: 1.6rem;
}

.cta-form__sign {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 2rem;
}

.cta_form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(239, 235, 235, 0.5);
}

.cta-form__sign .input.input__special {
  padding: 1.2rem 5.4rem;
}

.cta-form__sign .input,
.cta-form__sign select {
  width: 41.4rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form__sign label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cta-form__sign .input::placeholder {
  color: #aaa;
}

.btn--form {
  width: 41.4rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #28145c;
  border-radius: 6px;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn--form:hover {
  background: #624f92;
}

.fin {
  display: flex;
  justify-content: space-between;
  width: 41.4rem;
  align-items: center;
}

.flex_help {
  display: flex;
  align-items: center;
}

.checkbox_label {
  font-weight: 500 !important;
  font-size: 1.6rem !important;
  display: inline !important;
  color: #2c2828 !important;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.checkbox {
  display: inline;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
}

.forgot {
  font-weight: 600;
  font-size: 1.6rem;
  color: #28145c;
}
