body{
  display: grid;
  grid-template-columns: 20% auto 25%;
  gap: 10px;
  height: 100vh;
  width: 100vw;
}
.left{
  padding: 0 20px;
  display: grid;
}
.left img{
  width: 90%;
  margin: auto;
}
#menu-btn{
  width: 25px;
  margin: 20px 0;
}
.menu-logo {
  font-family: space Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 28px;
  display: grid;
  align-items: center;
  gap: 15px;
  grid-template-columns: 20px auto;
  margin: 10px 0;
}
.menu-logo img{
  width: 20px;
}
.menu-logo a{
  text-decoration: none;
}
.right{
  padding: 20px;
}

.student-profile img{
  width: 100px;
  display: block;
  margin: auto;
}
.profile-name{
  text-align: center;
}
.profile-name h1{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 20px;
}
.profile-name p{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 30px;
}
.assignment{
  margin-top: 10px;
}
.assignment-intro{
  display: flex;
  justify-content: space-between;
}
.assignment-rack ul{
  list-style: none;
}
.assignment-rack ul li{
  margin-top: 4px;
  display: flex;
  gap: 4px;
  padding: 10px;
}
.assignment-title{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.assignment-submit{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
}
.assignment-intro h1{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
#assignment-view{
  cursor: pointer;
}