body{
  display: grid;
  /* grid-template-columns: 20% auto 30%;*/ 
  grid-template-columns: 20% 55% 25%;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
.left{
  padding: 0 20px;
  display: grid;
}
.left img{
  width: 90%;
  margin: auto;
} 
#menu-btn{
  width: 25px;
  margin: 20px 0;
}
.menu-logo {
  font-family: space Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 28px;
  display: grid;
  align-items: center;
  gap: 15px;
  grid-template-columns: 20px auto;
  margin: 10px 0;
}
.menu-logo img{
  width: 20px;
}
.menu-logo a{
  text-decoration: none;
}
 .right{
  display: grid;
  margin-right: 10px;
  max-height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  cursor: pointer;
}
.right::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 0;
  display: none;
}

.notification-link img{
  height: 20px;
  padding: 0;
  margin: 0;
}
#calender{
  width: 80%;
  padding: 0;
}
.days ul{
  grid-template-columns: 21px 21px 21px 21px 21px 21px 21px;
  justify-content: center;
  align-content: center;
}
.day ul{
  grid-template-columns: 21px 21px 21px 21px 21px 21px 21px;
  justify-content: center;
  align-items: center;
}
.student-profile img{
  width: 50px;
  display: block;
  margin: auto;
}
.profile-name{
  text-align: center;
}
.profile-name h1{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 20px;
}
.profile-name p{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 18px;
}
.assignment{
  margin-top: 10px;
  display: block;
  margin: auto;
}
.assignment-intro{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.assignment-rack{
  overflow-y: auto;
  max-height: 180px;
  scrollbar-width: none;
}
.assignment-rack::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 0;
  display: none;
}
.assignment-rack ul{
  list-style: none;
}
.assignment-rack ul li{
  width: 200px;
  height: 60px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 17px;
}
.assignment-title{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.assignment-submit{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.assignment-intro h1{
  font-family: public sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
#assignment-view{
  cursor: pointer;
}
.to-do-intro{
 padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.to-do ul li{
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 17px;
  margin-top: 5px;
}

@media screen and (max-width:700px) {
  body{
    display: grid;
    grid-template-columns: 20% auto 30%;
    gap: 10px;
  }
 
  .days ul{
    justify-content: center;
     grid-template-columns: 18px 18px 18px 18px 18px 18px 18px; 
     gap: 2px;
  }
  .day ul{
    justify-content: center;
    grid-template-columns:  18px 18px 18px 18px 18px 18px 18px;
    gap: 2px;
  }
} 